$roundedSm: '0.125rem'; /* 2px */
$rounded: '0.25rem'; /* 4px */
$roundedMd: '0.375rem'; /* 6px */
$roundedLg: '0.5rem'; /* 8px */
$roundedXl: '0.75rem'; /* 12px */
$rounded2Xl: '1rem'; /* 16px */
$rounded3Xl: '1.5rem'; /* 24px */
