/*
 * Mixins
 */

 @buttonIconHeight: 3rem;
 @buttonIconWidth:  3rem;

@colorGrey: rgba(200, 200, 200, 1);
// @colorBlueHighlight: rgba(215, 240, 255, 1);
@colorBlueHighlight: rgba(240, 250, 255, 1);

@contentMaxWidth: 120rem;

@marginFour:       0.4rem;                       // 4px
@marginSix:        @marginFour + 0.2rem;         // 6px
@marginEight:      @marginFour * 2;              // 8px
@marginTwelve:     @marginSix * 2;               // 12px
@marginSixteen:    @marginFour * 4;              // 16px
@marginTwenty:     @marginEight + @marginTwelve; // 20px
@marginTwentyFour: @marginTwelve * 2;            // 24px
@marginThirtyTwo:  @marginSixteen * 2;           // 32px

@paddingFour:       0.4rem;                         // 4px
@paddingSix:        @paddingFour + 0.2rem;          // 6px
@paddingEight:      @paddingFour * 2;               // 8px
@paddingTwelve:     @paddingSix * 2;                // 12px
@paddingSixteen:    @paddingFour * 4;               // 16px
@paddingTwenty:     @paddingEight + @paddingTwelve; // 20px
@paddingTwentyFour: @paddingTwelve * 2;             // 24px
@paddingThirtyTwo:  @paddingSixteen * 2;            // 32px

@radiusOne:   0.2rem; // 2px
@radiusSmall: 0.3rem; // 3px
@radiusTwo:   0.5rem; // 5px
@radiusThree: 1rem;   // 10px

@redItemColor:   rgba(250, 70, 70, 1);
@greenItemColor: rgba(35, 215, 75, 1);

@transitionSpeedFast: 0.07s;
@transitionSpeedTwo:  0.15s;
@transitionSpeedSlow: 0.3s;

@widthMinMobile:  320px;
@widthMinTablet:  768px;
@widthMinDesktop: 1024px;

/*
 * Reusable Classes
 */

 .background-border-color(@color) {
    background-color: @color;
    border-color: @color - 30;

    &:hover {
        background-color: @color - 20;
        border-color: @color - 50;
    }
 }

.border-radius(@radius: @radiusSmall) {
    border-radius: @radius;
}

.red-item() {
    border: 1px solid; // border must be set before the border color, otherwise it returns to default
    .background-border-color(@redItemColor);
    color: rgb(255, 255, 255);
}

.green-item() {
    border: 1px solid;
    .background-border-color(@greenItemColor);
    color: rgb(255, 255, 255);
}

/*
 * Styles
 */

 * {
    background-repeat: no-repeat;
    // border: 1px solid #000;
    box-sizing: border-box;
 }

html {
    font-family: Arial;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

a {
    // border-bottom: 1px solid;
    color: rgb(40, 120, 250);
    // background-color: rgba(70, 70, 70, 1);
    // color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: 600;
    padding: @paddingEight;
    transition: all @transitionSpeedFast linear;
    text-decoration: underline;

    &:hover {
        background-color: @colorBlueHighlight;
        // color: rgb(10, 90, 220);
        text-decoration: none;
    }

    &.action {
        border: 1px solid;
        color: rgb(255, 255, 255);
        height: @buttonIconHeight;
        padding: 0;
        position: relative;
        width: @buttonIconWidth;

        &.delete-button {
            .red-item();

            &:before, &:after {
                background-color: rgba(255, 255, 255, 1);
                content: '';
                height: 2.5rem;
                left: 1.2rem;
                position: absolute;
                top: 0.1rem;
                transform-origin: center;
                width: 0.4rem;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        &.move-arrow {
            .background-border-color(rgba(160, 190, 255, 1));

            &.arrow-up:before,
            &.arrow-up:after,
            &.arrow-down:before,
            &.arrow-down:after {
                content: '';
                position: absolute;
            }

            &.arrow-up:before, &.arrow-down:before {
                border: 0.4rem solid transparent;// rgba(255, 255, 255, 1);
                height: 1rem;
                left: 0.6rem;
                transform: rotate(45deg);
                transform-origin: center;
                width: 1rem;
            }

            &.arrow-up:before {
                border-top-color: white;
                border-left-color: white;
                top: 1rem;
            }

            &.arrow-down:before {
                border-right-color: white;
                border-bottom-color: white;
                bottom: 1rem;
            }
        }
    }
}

h1, h2, h3, h4, h6, nav#actions-side-nav, p, .segment-row, ul.breadcrumbs-trail {
    margin: 0 0 @marginEight 0;
}

button, .button, input[type=submit], input[type=button] {
    border: 1px solid; // border must be set before the border color, otherwise it returns to default
    .background-border-color(rgba(240, 240, 240, 1));
    .border-radius();
    margin: 0;// @marginSixteen 0 0;
    padding: @paddingEight @paddingSixteen;
    text-decoration: none;

    &:last-of-type {
        margin: 0;
    }

    &[type=submit], &.submit {
        // .background-border-color(rgba());
        .green-item();
    }
}

div.container {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: @colorGrey;
    margin: 0 auto;
    max-width: @contentMaxWidth;
    padding: @paddingEight;
}

div.input {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evently;
    padding: 0 0 @paddingSixteen 0;

    label {
        padding: 0 0 @paddingFour 0;
        width: 100%;
    }

    input:not([type=submit]), select, textarea {
        .border-radius();
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid @colorGrey;
        margin: 0;
        padding: @paddingEight;
        transition: all @transitionSpeedFast linear;
        width: 100%;

        &:focus {
            // background-color: rgba(254, 254, 254, 1);
            box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.15);
        }
    }

    textarea {
        width: 100%;
    }
}

div.submit {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 0 0 @marginEight 0;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin: 0 0 @marginEight 0;
}

h3, h4 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0 0 @marginEight 0;
}

h6.menu-button {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;

    &+ ul.menu {
        display: none;
    }
}

header {
    margin: 0;
    position: relative; // sticky;

    #header-background {
        // animation: move-header 10s linear infinite;
        display: block;
        background-image: url('/img/backgrounds/battle_of_four_armies_by_jasonengle.jpg');
        background-position: center center;
        background-size: 110% auto;
        // -webkit-filter: blur(2px);
        // filter: blur(2px);
        height: 100%;
        position: absolute;
        // transition: all 10s linear;
        top: 0;
        width: 100%;
        z-index: -1;

        &.animate {
            animation: move-header-mobile 5s linear infinite;
        }
    }

    #top-bar {
        align-items: stretch;
        display: flex;

        h1 {
            font-size: 2rem;
            line-height: 2.6rem;
            margin: 0 0 0 0;
            text-align: left;
            text-shadow:
                0 0 3px rgba(0, 0, 0, 1),
                0 0 3px rgba(0, 0, 0, 1);
            width: 100%;

            a {
                background-color: transparent; // rgba(0, 0, 0, 0.6);
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
        }

        #nav-menu-button {
            background-color: rgba(0, 0, 0, 0.4);
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            min-width: 50px;
            padding: @paddingEight;
            width: 50px;

            div {
                background-color: rgba(255, 255, 255, 1);
                display: block;
                height: calc(100% / 6);
                margin: 0;
                transform-origin: center;
                transition: all @transitionSpeedSlow ease;
                width: 100%;

                // &:before, &:after {
                //     background-color: rgba(255, 255, 255, 1);
                //     content: '';
                //     display: block;
                //     height: 0.2em;
                //     width: 100%;
                // }
            }

            &.open .bar1 {
                -webkit-transform: translate(0, 250%) rotate(-45deg);
                transform: translate(0, 250%) rotate(-45deg);
            }

            &.open .bar2 {
                opacity: 0;
            }

            &.open .bar3 {
                -webkit-transform: translate(0, -250%) rotate(45deg);
                transform: translate(0, -250%) rotate(45deg);
            }
        }
    }

    nav, .nav {
        background-color: rgba(70, 70, 70, 1);
        // max-height: 0;
        padding: 0;
        position: absolute;
        transform: scaleY(0);
        transform-origin: top;
        transition: all @transitionSpeedSlow ease;
        width: 100%;
        z-index: 10;

        &.open {
            // max-height: 100%;
            transform: scaleY(1);
        }

        ul {
            border-bottom: 3px solid rgba(50, 50, 50, 1);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                width: 100%;

                a {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    color: rgb(255, 255, 255);
                    display: block;
                    margin: 0;
                    padding: @paddingSixteen @paddingSixteen;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(50, 50, 50, 1);
                        color: rgb(255, 255, 255);
                    }
                }

                &:last-of-type a {
                    border-bottom: none;
                }
            }
        }
    }
}

.message {
    margin: 0 0 @marginFour 0;
    padding: @paddingEight @paddingSixteen;
    position: relative;

    &.error {
        background-color: rgba(200, 60, 40, 0.9999);
        color: rgb(255, 255, 255);
        padding-left: @paddingSixteen;
    }

    &.success {
        .green-item();
        // background-color: rgba(35, 215, 75, 1);
        // color: rgb(255, 255, 255);
    }
}

p {
    padding: 0;
}

.segment-row {
    h3 {
        margin: 0;
    }
}

table {
    border: none;
    border-radius: 30px;
    margin: 0 auto @paddingEight auto;
    width: 100%;

    tr {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(210, 230, 255, 1);

        td, th {
            border: none;
            padding: @paddingSix;
            word-break: keep-all;
            word-wrap: break-word;

            &.action-column {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size: 0;
                line-height: 0;
                text-align: center;
                width: 4rem;

                a:not(last-of-type) {
                    margin: 0 0 @marginFour 0;
                }

                // > div {
                //     display: flex;
                //     height: 100%;
                //     width: 100%;
                // }
            }

            p:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        td {
            vertical-align: top;

            a {
                padding: 0;
            }
        }

        th {
            background-color: rgba(235, 235, 250, 1);
        }

        &.add-item-row td {
            padding: 0;
            text-align: center;

            a {
                display: block;
                padding: @paddingFour;

                &:hover {
                    // background-color: @colorBlueHighlight;
                }
            }
        }

        &.header-row {
            border-bottom: 5px double rgba(210, 230, 255, 1);// rgba(110, 130, 155, 1);
        }

        &.item-row-placeholder td {
            content: 'Pick a place!';
            padding: @paddingEight @paddingFour;
        }
    }

    &.insert-table {
        tbody tr td:last-of-type:before {
            // background-color: rgba(210, 230, 255, 1);
            // border-radius: 0 50% 50% 50%;
            // content: '';
            // height: 2rem;
            // position: absolute;
            // width: 2rem;
        }
    }
}

ul {
    margin: 0 0 @marginEight 0;
    padding: 0 @paddingEight 0 @paddingThirtyTwo;

    &.breadcrumbs-trail {
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: @colorGrey;
        display: flex;
        font-size: 0;
        line-height: 0;
        list-style-type: none;
        margin: 0 auto;
        max-width: @contentMaxWidth;
        padding: 0;
        overflow-x: scroll;

        li {
            position: relative;

            &:first-of-type a {
                border-left: none;
                border-radius: 2px;
            }

            &:last-of-type a {
                padding: @paddingFour @paddingEight;
            }

            a {
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid @colorGrey;
                border-radius: 10px 2px 2px 10px;
                box-shadow: -3px 0 3px 0px rgba(0,0,0,.03);
                font-size: 1.2rem;
                line-height: 1.4rem;
                margin: 0;
                max-width: 16rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: @paddingFour @paddingTwenty @paddingFour @paddingEight;

                &:hover {
                    background-color: rgba(240, 240, 240, 1);
                }
            }

            &+ li {
                margin-left: -0.7rem;
            }
        }
    }

    &.pagination {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;

        li {
            text-align: center;
            width: 25%;

            &.first {

            }

            &.first, &.prev:before {

            }

            &.last {

            }

            &.last, &.next:before {

            }

            &.next {

            }

            &.prev {

            }

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
}

footer {
    border-top: solid 3px rgba(70, 70, 70, 1);

    ul.nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0; //@paddingEight @paddingSixteen;

            a, p {
                margin: 0;
                padding: @paddingEight;
            }
        }
    }
}

/*
 * Twoa Questies - Mobile First!
 */

@media all and (min-width: @widthMinTablet) {

}


@media all and (min-width: @widthMinDesktop) {
    // a {
    //     display: inline-block;
    //     padding: @paddingFour;
    // }

    // button, .button {
    //     .style-button();
    //     text-decoration: none;

    //     &.red-button {
    //         .red-item();

    //         // &:hover {
    //         //     .background-border-color($background-color - 20)
    //         // }
    //     }
    // }

    // div.container {
    //     padding: 0 @paddingEight;
    // }

    form {
        div.input {
            flex-direction: row;
            justify-content: center;

            label {
                text-align: right;
                width: 15%;
            }

            input:not([type=submit]), select, textarea {
    //             .border-radius();
    //             background-color: rgba(255, 255, 255, 1);
    //             border: 1px solid rgba(230, 230, 230, 1);
                margin: 0 0 0 @marginSixteen;
                padding: @paddingEight;
    //             transition: all 0.1s ease;
                width: 60%;

    //             &:focus {
    //                 background-color: rgba(255, 255, 254, 1);
    //                 box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
    //             }
            }

    //         textarea {
    //             min-width: 60%;
    //         }
        }
    }

    // h1 {
    //     font-size: 2.2em;
    //     margin: 0;
    // }

    // h2 {
    //     font-size: 2em;
    //     margin: 0;
    // }

    // h3 {
    //     font-size: 1.8em;
    //     margin: 0;
    // }

    // h4 {
    //     font-size: 1.6em;
    //     margin: 0;
    // }

    header {

        #header-background {

            &.animate {
                animation: move-header-desktop 10s linear infinite;
            }
        }

        #top-bar {
            padding: @paddingThirtyTwo @paddingThirtyTwo;

            #nav-menu-button {
                display: none;
            }
        }

        nav, .nav {
            bottom: 0;
            display: block;
            height: auto;
            position: sticky;
            transform: scaleY(1);

            h1 {
            }

            ul {
                box-shadow: none;
                display: flex;
                flex-direction: row;
                justify-content: center;

                li {
                    width: auto;

                    a {
                        border-bottom: none;

                        &:hover {
                        }
                    }
                }
            }
        }
    }

    // p, ul {
    //     margin: 0 0 @marginEight 0;
    //     padding: 0 @paddingEight 0 @paddingThirtyTwo;
    // }

    // table {
    //     border: none;
    //     border-radius: 30px;
    //     margin: 0 auto @paddingSixteen 0;
    //     width: 100%;

    //     tbody {

    //         tr {
    //             background-color: transparent;
    //             border: none;
    //             border-bottom: 1px solid rgba(250, 250, 255, 1);

    //             td, th {
    //                 border: none;
    //                 padding: @paddingEight @paddingSixteen;
    //             }

    //             th {
    //                 background-color: rgba(235, 235, 250, 1);
    //             }
    //         }
    //     }
    // }

    // footer {

    //     ul.nav-list {
    //         .nav();
    //         justify-content: center;
    //         list-style-type: none;
    //         margin: 0;
    //         padding: 0;

    //         li {
    //             padding: @paddingEight @paddingSixteen;

    //             a, p {
    //                 margin: 0;
    //                 padding: @paddingEight;
    //             }
    //         }
    //     }
    // }
}

/**
 * Key frames
 */
    
@keyframes move-header-mobile {
    0% {
        background-position: center calc(50% - 10px);
    }

    100% {
        background-position: center calc(50% + 10px);
    }
}

@keyframes move-header-desktop {
    0% {
        background-position: center calc(50% - 50px);
    }

    100% {
        background-position: center calc(50% + 50px);
    }
}