@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer tailwind-base {
    @tailwind base;

    body,
    #app {
        min-height: 100vh;
    }

    a,
    button,
    input,
    select,
    textarea {
        @apply inline-block;
    }

    a,
    button,
    input[type="button"],
    input[type="submit"] {
        @apply cursor-pointer;
    }

    a:not(.button) {
        @apply text-biscay-600 dark:text-biscay-200 underline hover:no-underline transition-colors duration-300;
    }

    pre {
        @apply break-all text-wrap whitespace-break-spaces;
    }
}

@layer tailwind-components {

    .fixed-center {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .transition-colors-and-shadows {
        @apply transition-[colors,shadow];
    }

    .duration-theme-change {
        @apply motion-reduce:transition-none duration-300 ease-linear;
    }

    .no-zoom {
        touch-action: manipulation;
    }

    .header-transition {
        transition-property: background-position;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .breadcrumb {
        &+&:before {
            content: ">";
            @apply px-1;
        }
    }

    .campaign-picker {

        &:hover a,
        a:focus {
            @apply opacity-100;
        }
    }

    nav.side-nav,
    nav.toolbar,
    nav.toolbar-menu {

        .router-link-active,
        .active {
            @apply bg-saffron-mango-300 text-shark-950;
        }
    }

    nav .navigation-toolbar-link {
        @apply flex flex-col items-center gap-1 text-woodsmoke-950 dark:text-white-lilac-50 py-3 text-center transition-colors duration-theme-change;

        >span {
            @apply inline-block w-full truncate text-ellipsis overflow-hidden;
        }
    }

    .drop-down-menu {

        .drop-down-menu-item,
        .drop-down-menu-button,
        .drop-down-menu-link {
            @apply p-4 block w-full hover:bg-biscay-600 focus:bg-biscay-600 text-biscay-600 dark:text-biscay-200 hover:text-timberwolf-50 focus:text-timberwolf-50 text-center duration-0;
        }
    }

    .loading {
        transform: translate(-50%, -50%);

        .spinner {
            transform-origin: center;
            animation: spin 3s linear infinite;
        }
    }

    .table-rounded {
        @apply border-0 w-full border-collapse;

        tbody tr:last-of-type td {
            &:first-of-type {
                @apply rounded-bl-2xl;
            }

            &:last-of-type {
                @apply rounded-br-2xl;
            }
        }
    }

    .p-invalid {
        @apply bg-alizarin-crimson-100;
    }

    .p-datatable-table {
        @apply rounded-2xl overflow-hidden;
    }

    tr.p-row-even {
        @apply bg-shark-300/30 dark:bg-woodsmoke-800/30;
    }

    .p-inputnumber-increment-button {
        @apply bg-apple-400 text-apple-900;
    }

    .p-inputnumber-decrement-button {
        @apply bg-red-500 text-red-900;
    }

    .button-wrapper {
        @apply border-2;

        &.success {
            @apply bg-apple-600 dark:bg-apple-600 text-apple-100 border-2 border-transparent;

            &.outlined {
                @apply border-apple-600 bg-transparent text-apple-900 dark:text-apple-100;

                &:not(.disabled) .button {
                    @apply hover:bg-apple-100 focus:bg-apple-100 dark:hover:bg-apple-900 dark:focus:bg-apple-900;
                }
            }

            &:not(.disabled) .button {
                @apply hover:bg-apple-800 focus:bg-apple-800 dark:hover:bg-apple-800 dark:focus:bg-apple-800;
            }
        }

        &.danger {
            @apply bg-red-600 dark:bg-red-600 border-red-600 text-red-100 border-2 border-transparent;

            &.outlined {
                @apply border-red-600 bg-transparent text-red-900 dark:text-red-100;

                &:not(.disabled) .button {
                    @apply hover:bg-red-100 focus:bg-red-100 dark:hover:bg-red-900 dark:focus:bg-red-900;
                }
            }

            &:not(.disabled) .button {
                @apply hover:bg-red-900 focus:bg-red-900 dark:hover:bg-red-800 dark:focus:bg-red-800 dark:hover:text-red-100 dark:focus:text-red-100;
            }
        }

        &.primary {
            @apply bg-biscay-500 border-2 border-transparent text-biscay-100;

            &.outlined {
                @apply border-biscay-500 bg-transparent text-biscay-900 dark:text-biscay-100;

                &:not(.disabled) .button {
                    @apply hover:bg-biscay-100 focus:bg-biscay-100 dark:hover:bg-biscay-900 dark:focus:bg-biscay-900;
                }
            }

            &:not(.disabled) .button {
                @apply hover:bg-biscay-700 focus:bg-biscay-700 dark:hover:bg-biscay-700 dark:focus:bg-biscay-700;
            }
        }

        &.rounded-full {
            .button {
                @apply px-3 py-2;
            }
        }

        &:not(.rounded-full) {
            @apply rounded-lg;
        }

        &.disabled {
            @apply opacity-60 cursor-not-allowed;
            .button {
                @apply cursor-not-allowed;
            }
        }

        .button {
            @apply px-4 py-2;

            &.is-default-min-width {
                @apply min-w-48;
            }
        }
    }

    .timeline-event {
        .p-card-header {
            @apply sticky top-0;
        }
    }

    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer tailwind-base, primevue, tailwind-components, tailwind-utilities;