ul.breadcrumbs-trail {
    display: flex;
    flex-direction: row;
    font-size: 0;
    line-height: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;

    li {
        position: relative;
        user-select: none;
        -webkit-user-select: none;

        &:first-of-type {
            a,
            span {
                padding-left: 0;
            }
        }

        &:last-of-type {
            a,
            span {
                padding-right: 0;
            }
        }

        a,
        span {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin: 0;
            padding: $size-six;
        }
    }
}
