.show-more-container.active {
    padding-bottom: $size-twenty-four;
    position: relative;

    &.open {
        .hide {
            display: inline;
        }

        .show {
            display: none;
        }

        .show-more-content {
            max-height: none;
        }

        .show-more-link {
            background-color: transparent;
            padding-top: $size-eight;
        }
    }

    .show-more-content {
        max-height: 20rem;
        overflow: hidden;
    }

    .show-more-link {
        cursor: pointer;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 1) 50%);
        bottom: 0;
        box-sizing: border-box;
        content: 'show more';
        font-weight: normal;
        left: 0;
        padding: $size-thirty-two $size-six $size-eight $size-six;
        position: absolute;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize;
        width: 100%;
    }
}
