.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .tag {
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin: 0 0 $size-eight 0;

        a {
            border-radius: $size-sixteen 0 0 $size-sixteen;
            display: inline-block;
            font-size: initial;
            line-height: initial;
            overflow: hidden;
            padding: $size-four $size-eight $size-four $size-twenty-four;
            position: relative;
            max-width: 30rem;
            text-overflow: ellipsis;
            white-space: nowrap;

            &,
            &:before {
                border: 0.1rem solid;
                @include border-colour-styles($colour-light-blue);
                // box-shadow: $distTwo $distTwo $distTwo 0 rgba(0, 0, 0, 0.1);
            }

            &:before {
                border-radius: 100%;
                content: '';
                height: $size-eight;
                left: $size-eight;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: $size-eight;
            }
        }
    }
}
