@mixin background-colour-styles($color, $transitionVar: $no-transition, $hoverVar: $no-hover, $darkModeVar: $no-dark-mode, $text-colour-var: $no-text-color) {
    background-color: $color;

    @if ($text-colour-var == $text-color) {
        color: lighten($color, 80%);
    }

    @if ($transitionVar == $transition) {
        transition: background $transition-speed-background-color ease-in-out !important;
    }

    &:hover {
        @if ($hoverVar == $hover) {
            background-color: darken($color, 10%);
        }
    }

    body.dark-mode {
        @if ($darkModeVar == $dark-mode) {
            @if (lightness($color) > 50%) {
                background-color: darken($color, 80%);

                &:hover {
                    @if ($hoverVar == $hover) {
                        background-color: darken($color, 70%);
                    }
                }
            }
        }

        @if (lightness($color) <= 50%) {
            background-color: lighten($color, 80%);

            &:hover {
                @if ($hoverVar == $hover) {
                    background-color: lighten($color, 70%);
                }
            }
        }

        @if ($text-colour-var == $text-color) {
            color: $color;
        }
    }
}

@mixin border-colour-styles($colour, $hoverVar: $no-hover, $darkModeVar: $no-dark-mode) {
    border-color: darken($colour, 20%);

    body.dark-mode {
        @if ($darkModeVar == $dark-mode) {
            border-color: lighten($colour, 60%);
        }
    }

    &:hover {
        @if ($hoverVar == $hover) {
            border-color: darken($colour, 10%);
        }
    }
}

@mixin background-border-colour($color, $transitionVar: $no-transition, $hoverVar: $no-hover, $darkModeVar: $no-dark-mode, $textColorVar: $no-text-color) {
    @include background-colour-styles($color, $transitionVar, $hoverVar, $darkModeVar, $textColorVar);
    @include border-colour-styles($color, $hoverVar, $darkModeVar);
}

@mixin border-radius-styles($radius: $radius-small) {
    border-radius: $radius;
}

@mixin button-styles() {
    border: $size-one solid;
    @include background-border-colour(rgba(240, 240, 240, 1), $no-transition, $hover);
    @include border-radius-styles();
    margin: 0;
    padding: $size-eight $size-sixteen;
    text-decoration: none;

    &:last-of-type {
        margin: 0;
    }
}
