html {
    color: rgb(15, 15, 15);
    font-family: 'Open Sans', Arial, serif;
    font-size: 62.5%;
    height: 100%;
    min-height: 100%;
    word-spacing: 0.05rem;
}

body {
    //     background-attachment: fixed;
    //     background-image: url('/img/bg.png');
    //     background-position: bottom;
    //     background-repeat: repeat-x;
    min-height: 100%;
    //     background-color: rgba(250, 250, 250, 1);
    //     transition: background $transitionSpeedBackgroundColor ease-in-out;

    //&.dark-mode {
    //    .bg-white {
    //        background-color: rgba(30, 30, 30, 1) !important;
    //        color: rgb(200, 200, 200);
    //    }
    //}

    //     &.full-screen {
    //         overflow: hidden;
    //         position: fixed;
    //     }
    display: flex;
    flex-direction: column;

    > .container-fluid {
        @media all and (min-width: 576px) {
            background-image: url('../img/backgrounds/repeat-background-1.png');
            background-attachment: fixed;
            background-position: top left;
            background-repeat: repeat-x;
            background-size: auto 100rem; //auto 100%;
        }
    }

    //.content-container {
    //  visibility: hidden;
    //}
    // display: none;

    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //background-size: cover;

    // -webkit-filter: blur($distTwo);
    // filter: blur($distTwo);
    // height: 10rem;
    // position: relative;
    // top: 0;
    // width: 100%;
    // z-index: -1;

    // &.animate {
    //     animation: move-header-mobile 5s linear infinite;
    // }
    // }
    &.mce-fullscreen {
        header {
            display: none;
        }
    }

    .background-colour-primary {
        background-color: $background-colour-primary;
        color: $font-colour-primary;
    }

    .background-colour-secondary {
        background-color: $background-colour-secondary;
        color: $font-colour-secondary;
    }

    .border-colour-primary {
        border-color: $border-colour-primary;
    }

    &.dark-mode {
        .background-colour-primary {
            background-color: $background-colour-primary__dark;
            color: $font-colour-primary__dark;
        }

        .background-colour-secondary {
            background-color: $background-colour-secondary__dark;
            color: $font-colour-secondary__dark;
        }

        .border-colour-primary {
            border-color: $border-colour-primary__dark;
        }
    }
}
